services:
  api:
    image: sparkythebison/revibe:prod
    environment:
      DATABASE_URL: 'postgres://postgres:${POSTGRES_PASSWORD}@db:5432'
      JWT_SECRET: '${JWT_SECRET}'
      BUCKET_SECRET_ACCESS_KEY: '${BUCKET_SECRET_ACCESS_KEY}'
      BUCKET_ACCESS_KEY: '${BUCKET_ACCESS_KEY}'
      BUCKET_ENDPOINT_URL: '${BUCKET_ENDPOINT_URL}'
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - db
  db:
    image: postgres:15.2-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5433:5432'
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local
